<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="main/portfolio/cards.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <nav>
            <a href="https://github.com/EthanHarsh" target="_blank"><h1>GitHub</h1></a>
            <a href="#" id="portfolio"><h1>Portfolio</h1></a>
            <a href="#contact-me"><h1>Contact</h1></a>
        </nav>
    </header>

    <main>
        <section class="flexbox-wrap main-content">
            <% projects.forEach(project => { %>
                <div class="card">
                    <div class="display-box">
                          <img src="https://rb.gy/uacttu" alt="card-img">
                    </div>
                    <div class="info-box">
                      <h3><%= project.name %></h3>
                      <p><%= project.description %></p>
                    </div>
                    <button>More Info</button>
                  </div>  
           <% }); %>
        </section>
    </main>

    <footer>
        <div class="copyright">
            &copy; 2021 Ethan Harsh. All rights reserved.
        </div>
    </footer>
</body>
</html>