<!doctype html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sound & Space</title>
    </head>
    <body class="bg-body">
        <div class="container p-5">
            <div class="row">
                <div class="bg-light bg-gradient mx-auto m-3 p-5 shadow-sm rounded">
                    <div class="col-auto">
                        <h1 class="display-4 text-truncate">Login</h1>
                        <% if (messages.error) { %>
                            <%= messages.error %>
                        <% } %>
                    </div>
                    <form class="row clearfix" action="/login" method="POST">
                        <div class="col-auto">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                        </div>
                        <div class="col-auto">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-primary w-25" type="submit">Login</button>
                            <a class="btn btn-secondary ms-1 w-25" href="/register">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>




