<h1>Main Card</h1>
<main>
  <div class="card">
    <div class="display-box">
          <img src="https://rb.gy/uacttu" alt="card-img">
    </div>
    <div class="info-box">
      <h3>CardTitle</h3>
      <p>Created for The Complete JavaScript Course by Jonas Schmedtmann on Udemy.com</p>
    </div>
    <button>More Info</button>
  </div>
</main>